<div class="container">
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div style="float:left;">
  <h3 style="text-align: center;"><u>Personal Information</u></h3><br>
  <table>
    <tbody>
    <tr>
      <th><%= f.label :name , :value => 'English Name',class: 'label-input' %></th>
      <th><%= f.label :namej , :value => 'Japanese Name',class: 'label-input' %></th>
      <th><%= f.label :namek , :value => 'Khmer Name',class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :name, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :namej, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :namek, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :nationality ,class: 'label-input' %></th>
      <th><%= f.label :place , :value => 'Place of Birth',class: 'label-input' %></th>
      <th><%= f.label :idcard , :value => 'Card ID' ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :nationality, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :place, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :idcard, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :salary , :value => 'In Khmer Salary' ,class: 'label-input' %></th>
      <th><%= f.label :education,class: 'label-input' %></th>
      <th><%= f.label :dbirth , :value => 'Date of Birth' ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :salary, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :education, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :dbirth, :start_year => Date.current.year, :end_year => 1930, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :age,class: 'label-input' %></th>
      <th><%= f.label :sex,class: 'label-input' %></th>
      <th><%= f.label :health, :value => 'State of Health',class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.number_field :age, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px; text-align: left;">
        <%= f.radio_button :sex, 'Male' %> 
        <%= f.label :sex, 'Male', :value => 'Male' %>
        <%= f.radio_button :sex, 'Female' %>
        <%= f.label :sex, 'Female', :value => 'Female' %>
      </td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :health, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :blood , :value => 'Blood Type',class: 'label-input' %></th>
      <th><%= f.label :vision ,class: 'label-input' %></th>
      <th><%= f.label :interest ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :blood, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :vision, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.text_field :interest, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :experience , :value => 'Year of Experience',class: 'label-input' %></th>
      <th><%= f.label :married ,class: 'label-input' %></th>
      <th><%= f.label :position ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.number_field :experience, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :married, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.text_field :position, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :behavior,class: 'label-input' %></th>
      <th><%= f.label :experiencetojapan , :value => 'Experience go to Japanese',class: 'label-input' %></th>
      <th><%= f.label :japanesespeaking , :value => 'Japanese Conversation' ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_area :behavior, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :experiencetojapan, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.text_field :japanesespeaking, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :heightweight , :value => 'Height & Weight' ,class: 'label-input' %></th>
      <th><%= f.label :caddress ,:value => 'Current Address', class: 'label-input' %></th>
    </tr>
    <tr>
       <td style="padding-right:100px; width: 400px;"><%= f.text_field :heightweight, class:'form-control' %></td>
       <td style="padding-right:100px; width: 400px;"><%= f.text_area :caddress , placeholder: 'Current Address', class:'form-control' %></td>
    </tr>
   </tbody>
  </table><br><br>
  </div>  <br><br>
 <div><h3 style="text-align: center;"><u>Academic History Information</u></h3></div> 
  <div>
    <table>
      <tbody>
        <tr>
          <th><%= f.label :dates , :value => 'Last Peroid of Studying' ,class: 'label-input' %></th>
          <th><%= f.label :schoolname , :value => 'Name Of School' ,class: 'label-input' %></th>
          <th><%= f.label :subjects , :value => 'Subjects or Major' ,class: 'label-input'%></th>
        </tr>
        <tr>
          <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :dates ,class: 'form_control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :schoolname, class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :subjects, class:'form-control' %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <div>
    <h3 style="text-align: center;"><u>Employee History Information</u></h3><br>
  </div>
  <div>
    <table>
      <tbody>
        <tr>
          <th><%= f.label :datess , :value => 'Last Peroid of Working',class: 'label-input' %></th>
          <th><%= f.label :emcompany , :value => 'Company Name',class: 'label-input' %></th>
          <th><%= f.label :positionl , :value => 'Position of Working',class: 'label-input'%></th>
        </tr>
        <tr>
          <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :datess ,class: 'form_control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :emcompany, class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :positionl, class:'form-control' %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <h3 style="text-align: center;"><u>Famaily Member Information</u></h3>
   <div>
    <table>
      <tbody>
        <tr>
          <th><%= f.label :fathername , :value => 'Father Name', class: 'label-input' %></th>
          <th><%= f.label :fage , :value => 'Age', class: 'label-input' %></th>
          <th><%= f.label :fjob , :value => 'Jobs', class: 'label-input'%></th>
        </tr>
        <tr>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :fathername, class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.number_field :fage, class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :fjob, class:'form-control' %></td>
        </tr>
        <tr>
          <th><%= f.label :mathername , :value => 'Mather Name', class: 'label-input' %></th>
        </tr>
        <tr>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :mathername , class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.number_field :mage, class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :mjob, class:'form-control' %></td>
        </tr>
        <tr>
          <th><%= f.label :brothername , :value => 'Brother Name', class: 'label-input' %></th>
        </tr>
        <tr>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :brothername , class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.number_field :bage, class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :bjob, class:'form-control' %></td>
          
        </tr>
        <tr>
          <th><%= f.label :sisname , :value => 'Sister Name', class: 'label-input' %></th>
          
        </tr>
        <tr>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :sisname , class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.number_field :sage, class:'form-control' %></td>
          <td style="padding-right:100px; width: 400px;"><%= f.text_field :sjob, class:'form-control' %></td>
        </tr>
        <tr>
          <th colspan="3"><%= f.label :moreinformation , :value => 'Other Information', class: 'label-input'%></th>
        </tr>
        <tr>
          <td colspan="3" style="padding-right:100px; width: 1000;"><%= f.text_area :moreinformation, class:'form-control' %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <h3 style="text-align: center;"><u>Reason of Go to Japan</u></h3>
    <div>
      <%= f.label :reason , :value => 'Why do you want to go to Japan', class: 'label-input' %><br>
      <div style="padding-right:100px; width: 1000;"><%= f.text_area :reason, class:'form-control' %></div>
    </div>
  <h3 style="text-align: center;"><u>When return how to arrang the money.</u></h3>
    <div>
      <%= f.label :arrang , :value => 'What will you do when you have money from Japan.', class: 'label-input' %><br>
      <div style="padding-right:100px; width: 1000;"><%= f.text_area :arrang, class:'form-control' %></div>
    </div>
  <h3 style="text-align: center;"><u>Reference of Resume</u></h3>
    <div>
      <table>
        <tbody>
          <tr>
            <th><%= f.label :entrydate , :value => 'Date of Entry Data',class: 'label-input' %></th>
            <th><%= f.label :phone , :value => 'Phone Number',class: 'label-input' %></th>
            <th><%= f.label :email , :value => 'Email Address',class: 'label-input' %></th>
          </tr>
          <tr>
            <td style="padding-right:100px; width: 400px;text-align:left;"><%= f.date_select :entrydate,class:'form-control' %></td>
            <td style="padding-right:100px; width: 400px;"><%= f.text_field :phone ,class: 'form-control' %></td>
            <td style="padding-right:100px; width: 400px;"><%= f.text_field :email ,class: 'form-control' %></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <h3 style="text-align: center;"><u>Information of Going to Japan</u></h3>
    <div class="field">
      <%= f.label :sendingcompany, :value => 'Sending Company Name' %><br>
      <%= f.text_area :sendingcompany %>
    </div>
    <div class="field">
      <%= f.label :japaneselevel , :value => 'Japanese Level'%><br>
      <%= f.text_field :japaneselevel %>
    </div>
    <div class="field">
      <%= f.label :workfield , :value => 'Field of Work' %><br>
      <%= f.text_area :workfield %>
    </div>
    <div class="field">
      <%= f.label :dategojapan , :value => 'Date go to Japan'%><br>
      <%= f.date_select :dategojapan %>
    </div>
    <div class="field">
      <%= f.label :prefecture %><br>
      <%= f.text_area :prefecture %>
    </div>
    <div class="field">
      <%= f.label :zipcode %><br>
      <%= f.text_field :zipcode %>
    </div>
    <div class="field">
      <%= f.label :addressjapan , :value => 'Address in Japan'%><br>
      <%= f.text_area :addressjapan %>
    </div>
    <div class="field">
      <%= f.label :adminname, :value => 'Admin Name' %><br>
      <%= f.text_field :adminname %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
  <h3 style="text-align: center;"><u>New Information of Student</u></h3>
  <div>
  <table>
    <tbody>
    <tr>
      <th><%= f.label :course , :value => 'Course type',class: 'label-input' %></th>
      <th><%= f.label :university, :value => 'University Name',class: 'label-input' %></th>
      <th><%= f.label :subject , :value => 'Subject',class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :course, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :university, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :subject, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :teacher , :value => 'Japanese Teacher',class: 'label-input' %></th>
      <th><%= f.label :dateentoll, :value => 'Start Date',class: 'label-input' %></th>
      <th><%= f.label :dateend , :value => 'End Date',class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :teacher, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :dateentoll, class:'form-input' %><span class="glyphicon glyphicon-calendar btn-lg"></span></td>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :dateend, class:'form-input' %><span class="glyphicon glyphicon-calendar btn-lg"></span></td>
    </tr>
    <tr>
      <th><%= f.label :textbook, :value => 'Japanese Book',class: 'label-input' %></th>
      <th><%= f.label :status, :value => 'Status of study',class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :textbook, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :status, class:'form-control' %></td>
    </tr>
   </tbody>
  </table>
  </div>
  <h3 style="text-align: center;"><u>History of interview</u></h3>
  <div>
  <table>
    <tbody>
    <tr>
      <th><%= f.label :dateinterview , :value => 'Interview Date', class: 'label-input' %></th>
      <th><%= f.label :campanynk, :value => 'Company Name', class: 'label-input' %></th>
      <th><%= f.label :hisinterview , :value => 'Type of Interview', class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :dateinterview, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :campanynk, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :hisinterview, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :stinterview , :value => 'Status of Interview' ,class: 'label-input' %></th>
      <th><%= f.label :jobhistory, :value => 'Job History' ,class: 'label-input' %></th>
      <th><%= f.label :certificate , :value => 'Certiticate', placeholder: 'English etc...' ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :stinterview, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :jobhistory, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :certificate, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :japanesetype , :value => 'Level of Japanese' ,class: 'label-input' %></th>
      <th><%= f.label :attendance , :value => 'Attendance', placeholder: 'English etc...' ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :japanesetype, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :attendance, class:'form-control' %><span class="glyphicon glyphicon-calendar btn-lg"></span></td>
    </tr>
  </tbody>
</table>
</div>
<h3 style="text-align: center;"><u>Valuation of Studying</u></h3>
<div>
<table>
  <tbody>
    <tr>
      <th><%= f.label :grammer, :value => 'Grammer level' ,class: 'label-input' %></th>
      <th><%= f.label :idiom, :value => 'Idiom level' ,class: 'label-input' %></th>
      <th><%= f.label :conversation, :value => 'Conversation level' ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :grammer, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :idiom, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :conversation, class:'form-control' %></td>
    </tr>
    <tr>
      <th><%= f.label :lifeattitude, :value => 'Life Attitude' ,class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :lifeattitude, class:'form-control' %></td>
    </tr>
   </tbody>
  </table>
  </div>
  <div>
    <h3 style="text-align: center;"><u>Fujiyama Programe</u></h3>
  <table>
    <tbody>
    <tr>
      <th><%= f.label :resgisterdate , :value => 'Entry Date' ,class: 'label-input' %></th>
      <th><%= f.label :score, :value => 'Score' ,class: 'label-input' %></th>
      <th><%= f.label :playingtime , :value => 'Playing Time',class: 'label-input' %></th>
    </tr>
    <tr>
      <td style="padding-right:100px; width: 400px;text-align: left;"><%= f.date_select :resgisterdate, class:'form-control' %><span class="glyphicon glyphicon-calendar btn-lg"></span></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :score, class:'form-control' %></td>
      <td style="padding-right:100px; width: 400px;"><%= f.text_field :playingtime, class:'form-control' %></td>
    </tr>
   </tbody>
  </table>
  </div>
  <table>
    <tbody>
      <tr>
        <th><%= f.label :lastlearnhistory, :value => 'Last Learning History' ,class: 'label-input' %></th>
      </tr>
      <tr>
        <td style="padding-right:100px; width: 1200px;"><%= f.text_field :lastlearnhistory, class:'form-control', placeholder: 'Last learning history' %></td>
      </tr>
    <tbody>
  </table>
  <br>
  <div class="actions">
    <%= f.submit 'Save Data Into List Of Student' , class:'btn btn-sm btn-success'%>
  </div>
<% end %>
<br>
</div>
<br> 
